.nav-text{
    color: white;
    font-size: 1.2rem;
    font-family: inherit;
}
.nav-text:hover{
   color: white;
   background: rgba(139, 139, 139, 0.29);
   border-radius: 2px;
}

.hp-30{
    height: 30px !important;

}

.wp-30{
    width:30px !important;

}

.good_comment{

    background: #32c787;
    padding: 20px;
    border-radius: 2px;
}

.badge-success-ext{
    color:#FFF; !important;
    background-color:#32c787 !important
}

.flot-chart-250{
    height:230px;display:block
}
.sex_img_man{
    border: 2px solid rgba(38, 213, 255, 0.51);
}
.sex_img_woman{
    border: 1px solid rgba(255, 0, 166, 0.73);
}
.reply_block{
    padding: 10px 1.25rem;
    background: #f7f7f7;
    border-radius: 3px;
    margin-bottom: 1.25rem;
}